.page {
  --gray-rgb: 0, 0, 0;
  --gray-alpha-200: rgba(var(--gray-rgb), 0.08);
  --gray-alpha-100: rgba(var(--gray-rgb), 0.05);

  --button-primary-hover: #383838;
  --button-secondary-hover: #f2f2f2;

  display: grid;
  grid-template-rows: 20px 1fr 20px;
  align-items: center;
  justify-items: center;
  min-height: 100svh;
  padding: 80px;
  gap: 64px;
  font-family: var(--font-geist-sans);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 32px;
  grid-row-start: 2;
}

.upload-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: auto;
  margin: 0 auto;
  padding: 2rem;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: white;
}

.upload-form h2 {
  color: #484c48;
}

.form-group {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.form-group label {
  flex: 0 0 30%;
  text-align: left;
  color: #403e3e;
}

.form-group input,
.form-group select {
  flex: 1;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: none;
  color: black;
}

.form-group input:active,
.form-group select:active {
  outline-style: none;
  outline-color: white;
}

.submit-button {
  background-color: rgb(81, 81, 234);
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: medium;
}

.submit-button:hover {
  background-color: rgb(119, 119, 243);
}
